body {
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    background-color: LightGray;
    margin: 5px;
}
#textbox {
    float: left;
    width: calc(30% - 15px); 
    /* font-family: Courier New, Courier, monospace; */
    font-family: Verdana, Helvetica, Arial, sans-serif; /* Required, doesn't inherit from body. */
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    resize: none;
}
#diagram-wrapper {
    float: right;
    position: relative;
    width: 70%;
    background-color: rgb(236, 239, 255); /* Very light blue, to contrast with text editor white. */            
    border: 1px solid gray;
    overflow: auto;
}
#diagram-sheet {
    /* background-color: LightGray; /* For temp use in developing zoom feature. */
    width: 100%;
    height: calc(100% - 3px); /* Adjust for border to avoid bobble with up/down arrows. */
    /* overflow: auto; */
}
#arrow-sheet {
    width: 100%;
    height: 100%;
    overflow: visible;
}
/* Height. These must be in synch. Later wrapper height will be 100%. */
#textbox { height: 590px; /* This is diagram height - 10 for padding. */ }
#diagram-wrapper { height: 600px; }

.arrow {
    position: absolute;
    width: 15px;
}        
.node {
    position: absolute;
    z-index: 1; /* So arrows are behind nodes. */
    border-radius: 5px; /* No border, causes a slight jump when selected. */
    cursor: pointer;
    box-shadow: 3px 3px 8px #9c9c9c;
}
.node-selected {
    box-shadow: 0 0 15px #5870be;
    border: 1px solid rgb(0, 0, 0);
    z-index: 10; /* So in front of all other nodes. */
}
.node-drop-highlight { /* For dragover event */
    border: 1px solid blue;
    box-shadow: 0 0 15px #1e48c7;
}
.node-header {
    position: relative;
    border: 1px solid LightGray;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 2px 5px;
}
.node-is-factual {
    background-color: #C9E9DE; /* Light green */
}
.node-is-rule {
    background-color: #ffffdd; /* Light yellow */
}
.node-weight, .node-name, .node-cl, .node-body-text, .node-body-database {
    user-select: none; /* Prevent selection of text with mouse drag. */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.node-name {
    text-align: center;
    font-weight: bold;
}
/* node-weight and node-cl are somewhat  mirror opposites. Weight is on left, cl is on right */
.node-weight, .node-cl {
    position: absolute;
}
.node-weight { 
    top: 4px;
    left:  3px; 
    /* font-stretch: condensed; Not supported in any browsers yet. */
    transform: scaleX(.9);
    transform-origin: left;
}       
.node-cl     { 
    top: 3px;
    right: 5px; 
}
.node-cl-claim {
    top: 2px;
    /* font-weight: bold; */
}
.node-body-text, .node-body-database {
    text-align: left;
    padding: 1px 5px 3px 5px;
}
.node-body-text {
    background-color: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid LightGray;
}
.node-body-database {
    background-color: rgb(240, 240, 240);
    border: 1px solid LightGray;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
/* Font sizes */
.node-cl        { font-size: 14px; }
.node-name, .node-cl-claim      { font-size: 16px; }
.node-name-claim { font-size: 18px; letter-spacing: .6px; }
.node-weight    { font-size: 12px; }
.node-body-text, .node-body-database, #textbox  { font-size: 14px; }
